@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

:root{
    --font-sans:"Roboto", sans-serif;
    --font-display:"Gabarito", sans-serif;
    --font-blockquote:"Lora", serif;

    --black:#262626;
    --white:#FFFFFF;
    --red:#EC0B43;
    --yellow:#FFBC42;
    --blue:#0353A4;
    --grey: #e9e9e9;
}

html{
    scroll-behavior: smooth;
}

p{
    font-family:var(--font-sans);
    color: var(--black);
    font-size: 1.2rem;
    line-height: 2;
    font-weight: 400;
    padding-left: 40%;
    margin-block: 3rem;
}

h1{
    font-family:var(--font-display);
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
}

h2{
    font-family: Gabarito;
    font-size: 3rem;
    font-weight: 600;
    position: sticky;
    top: 2rem;
    z-index: 1;
    inline-size: 50%;
    min-inline-size: 16rem;
    max-inline-size: 22rem;
    padding-inline-end:2rem;
    background: white; 
}

h3{
    font-family: Gabarito;
    font-size: 2.5rem;
    font-weight: 800;
}

.bold {
    font-family:var(--font-sans);
    font-size: 1.2rem;  
    font-weight: 700;
}

.italicize {
    font-family:var(--font-sans);
    font-style: italic;
    line-height: 2;
}

section{ 
    margin-block: 10rem;
    padding-inline-start: 8rem;
    padding-inline-end: 10rem;
}

main > article:nth-of-type(1) {
    margin-block-start: 6rem;
}

/* second article in <main> */
main > article:nth-of-type(2) {
    margin-block-start: 12rem;
}
/*--------------------color--------------------*/
.red{
    color:var(--red)
}

.yellow{
    color:var(--yellow)
}

.blue{
    color:var(--blue)
}

.white{
    color:var(--white)
}

.black{
    color:var(--black)
}

/*--------------------links--------------------*/
a.red, 
a.yellow, 
a.blue {
  color:var(--black);
  text-decoration: underline;
  text-decoration-thickness: 15%;
  text-underline-offset: 10%;
}

a.red{
    text-decoration-color:var(--red); 
    &:hover{
        color:var(--white);
        background:var(--red);
    }
}

a.yellow{
    text-decoration-color:var(--yellow);
    &:hover{
        color:var(--black);
        background:var(--yellow);
    }
}
a.blue{
    text-decoration-color:var(--blue); 
    &:hover{
        color:var(--white);
        background:var(--blue);
    }
}

.scroll-button1,
.scroll-button2 {
    display: block;
    width: 7.5rem;
    height: 3rem;
    line-height: 2.8rem;
    text-align: left;
    padding-inline-start: 1rem;
    align-items: center;
    background: var(--white);
    color: var(--black);
    font-weight: 400;
    font-family: var(--font-sans);
    text-decoration: none;
    border-radius: 0.2rem;
    border: 0.2rem solid var(--blue);
    transition: background 0.3s ease;
    position: absolute;
}

.scroll-button1:hover,
.scroll-button2:hover{
    border: 0.2rem solid var(--blue);
    background: var(--blue);
    color: var(--white);
}

/*article*/
.scroll-button1 {
    inset-block-start: 32.5rem;
    inset-inline-end: 18.5rem;   
}
/*response*/
.scroll-button2 {
    inset-block-start: 32.5rem;
    inset-inline-end: 10rem;  
}
/*--------------------button--------------------*/
.top{
    color:var(--white);
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: fixed;
    background-color:var(--blue);
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
    border-radius: 100%;
}

.top:hover{
    background:var(--red);
    transform: scale(1.2);  
}

.top:active{
    background:var(--yellow);
    color:var(--black);
}

/*--------------------outline--------------------*/
.outline{
    color:var(--white);
    letter-spacing: 0.05em;
    paint-order: stroke fill;
    -webkit-text-stroke: 0.25rem; 
}

.outline.red    { -webkit-text-stroke-color:var(--red); }
.outline.yellow { -webkit-text-stroke-color:var(--yellow); }
.outline.blue   { -webkit-text-stroke-color:var(--blue); }
/*From Michael via Slack*/

/*--------------------header--------------------*/
header{
    margin-block-start: 6rem;
    margin-block-end: 8rem; 
    padding-inline: 8rem;
}

header>p,
header > p.bold{
    padding-left:0rem;
    line-height:1;
    margin-block: 1.2rem;
}

h2.subhead{
    text-align:end;
    inline-size: initial;
    min-inline-size: initial;
    max-inline-size: none;
    margin-block-start: 2rem;
    margin-block-end: 6rem;
    position:relative;
    font-family:var(--font-blockquote);
}

small {
    max-inline-size: 100ch;
    font-size: 1.2rem;
    line-height: 1;    
}

/* Wanted to make 1 line 3 colors instead of 3 lines 3 colors and discovered inline-flex through MDN.
Link to display:https://developer.mozilla.org/en-US/docs/Web/CSS/display
Link to border-image:linear-gradient -> https://developer.mozilla.org/en-US/docs/Web/CSS/border-image */
.stacked-title{
    display:inline-flex;
    flex-direction:column;
    align-items:flex-start;
    padding-left:1.8rem;
    border-left:1.4rem solid transparent;
    border-image: linear-gradient(
    to bottom,
    #EC0B43 0 33%,
    #FFBC42 33% 66%,
    #0353A4 66% 100%) 1;
}

/* Wanted to make my header interactive so I Googled "fun interactions you can add to your website with CSS." Google AI Overview came up with a few suggestions -> I looked into what they were on MDN (see links below) */
.stacked-title span:hover {
    cursor: pointer;
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/cursor*/
    filter: brightness(1.1); 
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/brightness*/
    transition: all 0.3s ease;
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/transition*/
    transform: scale(1.05) translateY(-0.5rem);
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translateY*/
}

/*--------------------blockquote--------------------*/
blockquote{
    margin-inline: 0rem;
    margin-block: 4rem;
}

blockquote p,
section.response blockquote p{
    font-weight: 600;
    font-family:var(--font-blockquote);
    font-size:1.8rem;
    max-inline-size: 100ch;
    margin-inline: initial;
    padding-left: 0rem;
    margin-block:1rem;
    line-height:1.5;
}

blockquote footer,
section.response blockquote footer{
    line-height: 1.4;
    font-size: 1.8rem; 
    font-family:var(--font-blockquote);
    font-weight: 400;
    font-size:1.6rem;
    font-style: normal;
}

.blockquote{
    padding-left: 1.5rem;
    border-left: 0.5rem solid;
    margin-inline-start:50%;
}

.blockquote::before{
    content: "“";
    font-family:var(--font-blockquote);
    font-style:normal;
    font-weight: 800;
    font-size: 2rem;
    position: relative;
    left: -0.75rem;
    top: 0.25rem;
}

/*--------------------response--------------------*/
h1.response {
    font-size: 8rem; 
    text-align:right; 
    padding-block-start:2rem; 
    padding-block-end:1rem;
    color:var(--blue);
}

section.response p{
    padding-inline-start:0rem;
    max-inline-size: 65%;
}

section.response p.drop-cap::first-letter{
    color: var(--red);
}

section.response blockquote{
    padding-left: 1.5rem;
    border-left: 0.5rem solid var(--blue);
    margin-inline-start: 10%;
    max-inline-size: 60%;
}

section.response blockquote footer{
    color: var(--blue);
}

section.response blockquote::before{
    content: "“";
    font-family:var(--font-blockquote);
    font-style:normal;
    font-weight: 800;
    font-size: 2rem;
    position: relative;
    left: -0.75rem;
    top: 0.25rem;
    color:var(--blue);
}

.multicolor-border{
    border-left: 0;
    border-right: 1.4rem solid transparent; 
    border-image: linear-gradient(
    to bottom,
    var(--red) 0 33%,
    var(--yellow) 33% 66%,
    var(--blue) 66% 100%) 1;
    padding-inline-start: 0;
    padding-inline-end: 3rem;
    margin-inline-end: 10rem;
}

h1.response.multicolor-border {
    margin-inline-start: 40%;
}

/*--------------------drop-caps--------------------*/

.drop-cap::first-letter{
    font-family:Gabarito;
    font-size:3rem;
    font-weight:600;
    line-height: 1;
}

section > h2.red ~ p.drop-cap::first-letter,
section > p.drop-cap::first-letter{
    color:var(--red);
}
section > h2.yellow ~ p.drop-cap::first-letter{
    color:var(--yellow);
}
section > h2.blue ~ p.drop-cap::first-letter{ 
    color:var(--blue); 
}

/*--------------------call out--------------------*/
p.call-out {
    margin-inline-start: 50%;
    width: calc(100% - 50% + 10rem);
    margin-inline-end: -10rem;
    padding: 2rem;
    background: #0353a44d;
    color: var(--blue);
    font-family: var(--font-blockquote);
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 600;
    margin-block: 1rem;
}

section.response p.call-out-response {
    margin-inline-start: -8rem;
    width: calc(100% + 8rem);
    margin-block: 1rem;
    padding: 2rem 2rem 2rem 12rem;
    background: #ffbd422c;
    color: #e8a72f;
    font-family: var(--font-blockquote);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
}

/*--------------------footer--------------------*/
body>footer{
    padding-inline-start: 8rem;
    padding-block:3rem;
    color:white;
    background-color: black;
}