@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

:root{
    --font-sans:"Roboto", sans-serif;
    --font-display:"Gabarito", sans-serif;

    --black:#262626;
    --white:#FFFFFF;
    --red:#EC0B43;
    --yellow:#FFBC42;
    --blue:#0353A4;
    --light-blue:#3699FC;

    --gutter-l:2rem;
    --gutter-r:4rem;
}

html{
    scroll-behavior: smooth;
}

.top{
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: var(--blue);
    bottom: 40px;
    right: 40px;
    z-index: 100;
    border-radius: 100%;
}

.top:hover{
    background: var(--red);
    transform: scale(1.2);  
}

.top:active{
    background: var(--yellow);
    color:var(--black);
}

p{
    font-family:var(--font-sans);
    color: #262626;
    font-size: 1.2rem;
    line-height: 2.2;
    font-weight: 400;
    padding-left: 50%;
    margin-block: 3rem;
}

h1{
    font-family:var(--font-display);
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
}

/* In my previous version, I did what I did for my blockquotes: each word in "Everyday Color Theory" had it's own left border. 

However, the borders were overlapping and bugged me because they weren't equal lengths. I used ChatGPT to see how I could create one singular line and divide it into 3 colors. */
.stacked-title{
    display:inline-flex;
    flex-direction:column;
    align-items:flex-start;
    padding-left:1.8rem;
    border-left:24px solid transparent;
    border-image: linear-gradient(
    to bottom,
    #EC0B43 0 33%,
    #FFBC42 33% 66%,
    #0353A4 66% 100%
  ) 1;
}

.h1-red{ color: var(--red); }
.h1-yellow{ color: var(--yellow); }
.h1-blue{ color: var(--blue); }

/* Wanted to make my header interactive so I just Googled "fun interactions you can add to your website with CSS" */
.stacked-title span:hover {
    cursor: pointer;
    filter: brightness(1.1); 
    transition: all 0.3s ease;
    transform: scale(1.05) translateY(-2px);
}

h2{
    font-family:Gabarito;
    font-size:3rem;
    font-weight:600;
    position:sticky;
    top:2rem;
    z-index: 1;
    inline-size:50%;
    min-inline-size:16rem;
    max-inline-size:22rem;
    background: white; 
}

h3{
    font-family: Gabarito;
    font-size:2.5rem;
    font-weight:800;
}

.bold-text {
    font-family: var(--font-sans);
    font-size: 1.2rem;  
    font-weight: 700;
}

.italicize-text {
    font-family: var(--font-sans);
    font-style: italic;
    line-height: 2;
}

header > p,
header > p.bold-text,
header > p > time {
    margin-block: 1.5rem;
}

.red{
    color:var(--red)
}

.yellow{
    color:var(--yellow)
}

.blue{
    color:var(--blue)
}

.white{
    color:var(--white)
}

a.red-hover {
    text-decoration: underline;
    text-decoration-color: var(--red);
    text-decoration-thickness: 2px;
    text-underline-offset: 3px; 
    color:var(--black);
}

a.yellow-hover {
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 2px;
    text-underline-offset: 3px; 
    color:var(--black);
}

a.blue-hover {
    text-decoration: underline;
    text-decoration-color: var(--blue);
    text-decoration-thickness: 2px;
    text-underline-offset: 3px; 
    color:var(--black);
}

.red-hover:hover{
    text-decoration: underline;
    text-decoration-color: var(--red);
    color:var(--white);
    background:var(--red); 
}

.yellow-hover:hover{
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    color:var(--black);
    background:var(--yellow); 
}

.blue-hover:hover{
    text-decoration: underline;
    text-decoration-color: var(--blue);
    color:var(--white);
    background:var(--blue); 
}

.heading-light-blue{
    color:var(--light-blue);
    font-family:Gabarito;
    font-size:2rem;
    font-weight:600;
}

.outline-red{
    color:var(--white);
    letter-spacing: 0.05em;
    text-shadow: -1px -1px 0 #EC0B43, 1px -1px 0 #EC0B43, -1px 1px 0 #EC0B43, 1px 1px 0 #EC0B43;
}
/* Got this from MDN */

.outline-yellow{
    color:var(--white);
    letter-spacing: 0.05em;
    text-shadow: -1px -1px 0 #FFBC42, 1px -1px 0 #FFBC42, -1px 1px 0 #FFBC42, 1px 1px 0 #FFBC42;
}
/* Got this from MDN */

.outline-blue{
    color:var(--white);
    letter-spacing: 0.05em;
    text-shadow: -1px -1px 0 #0353A4, 1px -1px 0 #0353A4, -1px 1px 0 #0353A4, 1px 1px 0 #0353A4;
}
/* Got this from MDN */

blockquote{
    margin-inline: 2rem;
    margin-block: 4rem;
}

blockquote p{
    max-inline-size: 60ch;
    margin-inline: auto;
    padding-left: 0rem;
    font-style: italic;
    font-weight: 600;
    margin-block:1rem;
}

blockquote footer {
    line-height: 1.8;
    font-size: 1.2rem; 
}

.blockquote{
    font-family: Roboto;
    font-weight: 600;
    font-style: italic;
    padding-left: 1.5rem;
    border-left: 6px solid;
    margin-inline-start:60%;
}

.blockquote::before{
    content: "“";
    font-family: Gabarito;
    font-style:normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
    position: relative;
    left: -0.75rem;
    right:1rem;
    top: 0.25rem;
}

.black{
    background-color:#262626;
    margin-inline:-2rem;
    margin-block-end:-2rem;
    padding-inline: 8rem;
    padding-block-start: 6rem;
    padding-block-end: 2rem;
}

article.black p {
    min-inline-size: 40ch;
    max-inline-size: 80ch;
}

article.black > h1.white {
    padding-block-start: 1rem;
    padding-block-end: 2rem;
}

header{
    margin-top: 60px;
    margin-bottom: 80px; 
    padding-left: 100px;
    padding-right: 120px;
}

header>p{
    padding-left:0px;
    line-height:1;
}

section:not(:first-child){ 
    margin-top: 80px;
    margin-bottom: 80px; 
    padding-left: 100px;
    padding-right: 150px;
}

section:first-child{ 
    margin-top: 80px; 
    margin-bottom: 80px; 
    padding-left: 100px;
    padding-right: 150px;
}

h2.subhead{
    text-align:end;
    inline-size: auto;
    min-inline-size: auto;
    max-inline-size: none;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    position:relative;
}

small {
    max-inline-size: 100ch;
    font-size: 1.2rem;
    line-height: 1.5;
    
}

body>footer{
    margin-inline:-2rem;
    margin-block-end:-2rem;
    padding-inline-start: 8rem;
    padding-inline-end:2rem;
    padding-block-start: 2rem;
    padding-block-end: 2rem;
    color:white;
    background-color: black;
}

section > h2.red ~ p.drop-cap::first-letter{
    color: var(--red);
}
section > h2.yellow ~ p.drop-cap::first-letter{
    color: var(--yellow);
}
section > h2.blue ~ p.drop-cap::first-letter{ 
    color: var(--blue); 
}

.drop-cap::first-letter{
    font-family:Gabarito;
    font-size:3rem;
    font-weight:600;
    line-height: 1;
}

.response p{
    font-family: var(--font-sans);
    color: white;
    font-weight: 400;
    line-height:2.2rem;
    padding-left: 0rem;
    margin-block: 3rem;
}

.multicolor-border{
    border-left: 12px solid transparent;
    border-image: linear-gradient(
    to bottom,
    var(--red) 0 33%,
    var(--yellow) 33% 66%,
    var(--blue) 66% 100%
    ) 1;
    padding-left: 1rem;
}

section > p.drop-cap::first-letter{
    color: var(--red);
}