@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

:root{
    --font-sans:"Roboto", sans-serif;
    --font-display:"Gabarito", sans-serif;
    --font-blockquote:"Lora", serif;

    --spacing: 2rem;

    --black:#262626;
    --white:#FFFFFF;
    --red:#EC0B43;
    --yellow:#FFBC42;
    --blue:#0353A4;
    --grey: #e9e9e9;
}

html { scroll-behavior: smooth; }
body { padding-inline: var(--spacing); }

/*--------------------font basics--------------------*/

p {
    font-family: var(--font-sans);
    color: var(--black);
    font-size: 2.9rem;
    line-height: 5rem;
    font-weight: 400;
    padding-block: 2rem;
}

h1 {
    font-family: var(--font-display);
    font-size: 11rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
}

h2 {
    font-family: var(--font-display);
    font-size: 7rem;
    font-weight: 600;
    line-height: 7rem;
    /* position: sticky;
    top: 0rem;
    z-index: 1; */
    /* inline-size: 50%; */
    /* min-inline-size: 16rem;
    max-inline-size: 22rem;
    padding-inline-end:2rem; */
    background: white; 
}

h3 {
    font-family: var(--font-blockquote);
    font-size: 4rem;
    font-weight: 800;
}

.bold { font-weight: 700; }
.italicize { font-style: italic; }

.content {
    display: flex;
    flex-direction: column;
    padding-block-start: 12rem;
    padding-block-end: 4rem;
}

.paragraph {
    margin-block: 4rem;
  /* max-inline-size: 65ch;
  margin-inline: auto; */
}

main > article:nth-of-type(1) {
    margin-block-start: 6rem;
}

/*--------------------header--------------------*/

#full {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 2rem;
}

#meta {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#meta-info {
    display: flex;
    flex-direction: row;
    justify-content: inline-start;
    list-style: none;
    gap: 4rem;
}

.stacked-title {
    display:inline-flex;
    flex-direction:column;
    align-items:flex-start;
    padding-inline:1.8rem;
    margin-block-end: 4rem;
    border-left:1.4rem solid transparent;
    border-image: linear-gradient(
    to bottom,
    #EC0B43 0 33%,
    #FFBC42 33% 66%,
    #0353A4 66% 100%) 1;
}

.stacked-title span:hover {
    cursor: pointer;
    filter: brightness(1.1); 
    transition: all 0.3s ease;
    transform: scale(1.05) translateY(-0.5rem);
}

/*--------------------blockquote--------------------*/

blockquote {
    margin-inline-start: 15%;
    margin-block: 6rem;
    padding-inline-start: 3rem;
    padding-block-start: 3rem;
    border-inline-start: 1.4rem solid;
    position: relative;
}


blockquote::before {
    content: "“";
    position: absolute;
    left: 3rem;
    top: 0;
    font-family: var(--font-blockquote);
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 1;
}

blockquote p {
    font-family: var(--font-blockquote);
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 4.6rem;
    margin-block: var(--spacing);
}

blockquote footer {
    margin-top: 2rem;
    font-family: var(--font-blockquote);
    font-size: 3rem;
    line-height: 3.8rem;
}

blockquote cite {
    font-style: italic;
    font-weight: 500;
}

blockquote.red    { border-color: var(--red); }
blockquote.yellow { border-color: var(--yellow); }
blockquote.blue   { border-color: var(--blue);}

.red,
blockquote.red::before,
blockquote.red cite { 
    color: var(--red); 
}

.yellow,
blockquote.yellow::before,
blockquote.yellow cite { 
    color: var(--yellow); 
}

.blue,
blockquote.blue::before,
blockquote.blue cite { 
    color: var(--blue); 
}

/*--------------------links--------------------*/
a.red, a.yellow, a.blue{
    color: var(--black);
    text-decoration: underline;
    text-decoration-thickness: 15%;
    text-underline-offset: 10%;
}

a.red{ text-decoration-color: var(--red); }
a.yellow{ text-decoration-color: var(--yellow); }
a.blue{ text-decoration-color: var(--blue); }

a.red:hover{
    color: var(--white);
    background: var(--red);
}

a.yellow:hover{
    color: var(--black);
    background: var(--yellow);
}

a.blue:hover{
    color: var(--white);
    background: var(--blue);
}


/*--------------------nav--------------------*/

/* .scroll-button1,
.scroll-button2 {
    display: block;
    width: 7.5rem;
    height: 3rem;
    line-height: 2.8rem;
    text-align: start;
    padding-inline-start: var(--spacing);
    align-items: center;
    background: var(--white);
    color: var(--black);
    font-weight: 400;
    font-family: var(--font-sans);
    text-decoration: none;
    border-radius: 0.2rem;
    border: 0.2rem solid var(--blue);
    transition: background 0.3s ease;
    position: absolute;
}

.scroll-button1:hover,
.scroll-button2:hover{
    border: 0.2rem solid var(--blue);
    background: var(--blue);
    color: var(--white);
}

.scroll-button1 {
    inset-block-start: 32.5rem;
    inset-inline-end: 18.5rem;   
}
.scroll-button2 {
    inset-block-start: 32.5rem;
    inset-inline-end: 10rem;  
} */

/* --------------------top button-------------------- */

.top{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 120px;
    height: 120px;
    display: grid;
    place-items: center;
    font-size: 4rem;
    line-height: 1;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 50%;
    text-decoration: none;
    z-index: 100;
}

.top:hover{
    background-color: var(--red);
    transform: scale(1.2);
}

.top:active{
    background-color: var(--yellow);
    color: var(--black);
}

/*--------------------drop-caps--------------------*/

p.drop-cap::first-letter{
    font-family: var(--font-display);
    font-size: 6rem;
    font-weight: 600;
    line-height: 1;
}

.content:has(h2.red)    p.drop-cap::first-letter { color: var(--red); }
.content:has(h2.yellow) p.drop-cap::first-letter { color: var(--yellow); }
.content:has(h2.blue)   p.drop-cap::first-letter { color: var(--blue); }

/*--------------------response--------------------*/

#response { margin-block: 10rem }
#response p.drop-cap::first-letter { color: var(--red); }

/*--------------------footer--------------------*/

body > footer{
    width: 100vw;
    margin-inline: calc(50% - 50vw);
    margin-block-end: 0rem;
    padding-inline: var(--spacing);
    padding-block: 3rem;
    background-color: var(--black);
}

body > footer p{
    color: var(--white);
    padding-block: 0;
}
